<div class="header-wrapper">
  <nav class="nav-container">
    <ul class="items-wrapper">
      <li class="list-item-wrapper">
        <a href="" class="list-item">Caminhões de Carga</a>
      </li>
      <li class="list-item-wrapper">
        <a href="" class="list-item">Harvester</a>
      </li>
      <li class="list-item-wrapper">
        <a href="" class="list-item">Garra Traçadora</a>
      </li>
    </ul>
  </nav>
  <div class="title-wrapper">
    <p class="title-item">Aiko <span style=""> Support</span></p>
  </div>
</div>
